body {
  padding: 20px;
  background-color: hsla(215, 52%, 30%, 1);
}

h2 {
  text-align: center;
  color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsla(215, 52%, 30%, 1);
}

.topic-container {
  background-color: #3362a2;
  padding: 4px;
  text-align: center;
  min-height: 31px;
  margin: 0px;
}

.topic-container__topic {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  background-color: #eee;
}

.topic-container__open-button {
  display: block;
  color: white;
  text-align: center;
  background-color: hsla(215, 52%, 50%, 1);
  width: 70%;
  margin: 3px auto 0 auto;
  border-radius: 3px 3px 0 0;
}

.topic-menu {
  background-color: #3362a2;
  border-radius: 3px;
  position: absolute;
  z-index: 4;
  width: 90%;
  left: 5%;
  transform-origin: 0% 0%;
  transform: scaleY(1);
  transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.topic-menu--closed   {
  transform: scaleY(0);
  opacity: 0;
}

.topic-menu__list {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 3px; /* Chrome, Safari, Opera */
  -moz-column-gap: 3px; /* Firefox */
  column-gap: 3px;

  background-color: #3362a2;
  padding: 3px;
}

.topic-menu__topic {
  -webkit-column-break-inside: avoid;
  padding: 2px;
  border-radius: 4px;
}

.topic-menu__topic a {
  display: block;
  background-color: hsla(215, 52%, 80%, 1);
  border-radius: 4px;
  text-align: center;
  padding: 1px;
}

.topic-menu__topic:hover a {
  background-color: hsla(215, 52%, 20%, 1);
  color: white;
}

.topic-menu__topic--selected {
  background-color: darkorange;
}

.topic-menu__matched-string {
  color: hsla(33, 100%, 40%, 1);
}

.topic-menu__input {
  margin: 7px 0;
  width: 98%;
  left: 1%;
  position: relative;
  border-radius: 12px;
  background-color: hsl(202, 95%, 41%);
  border-width: 0;
  text-align: center;
  color: white;
}

.advanced-menu {
  overflow: hidden;
  margin:  0;
  padding:  0;
}

.advanced-menu__list {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 3px; /* Chrome, Safari, Opera */
  -moz-column-gap: 3px; /* Firefox */
  column-gap: 3px;
  background-color: #3362a2;
  padding: 3px;
  margin: 0px auto;
  width: 90%;
  left: 5%;
  transform: translateY(0);
  transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.advanced-menu--closed .advanced-menu__list {
  transform: translateY(-100%);
  opacity: 0;
}

.advanced-menu__input {
  width: 98%;
  left: 1%;
  top: -2px;
  z-index: 3;
  position: relative;
  border-radius: 0 0 12px 12px;
  background-color: hsl(202, 95%, 41%);
  border-width: 0;
  text-align: center;
  color: white;
}

.advanced-menu__close-button {
  background-color: darkgrey;
  display: block;
  margin: auto;
  width: 90%;
  text-align: center;
  border-radius: 0 0 6px 6px;

  transform: translateY(0);
  transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.advanced-menu__close-button:hover {
  background-color: darkorange;
}

.advanced-menu--closed .advanced-menu__close-button {
  transform: translateY(-600%);
  opacity: 0;
  visibility: hidden;
}
